html, body {
    height: 100%;
  }


body {
    margin: 0;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.hero-item {
    width: 88%;
    height: 100%;
    max-width: 2048px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-caption {
    top: calc(50%);
    transform: translateY(-50%);
    max-width: 520px;
    text-align: left;
    position: absolute;
    z-index: 1;
    left: auto;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}



.btn-primary {
    font-size: 15px;
    display: inline-block;
    max-width: 100%;
    padding: 10px 20px 6px 22px !important;
    overflow: hidden;
    border: 2px solid transparent;
    color: #fff !important;
    background: #107c10;
    line-height: 1.3;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.07em;
    white-space: nowrap;
    transition: scale .2s ease-in-out;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0f760f;
    border-color: #0f760f;
}


footer {
    text-align: center;
    background-color: #848484;
    padding: 5px 0 1px 0;
    color: white;
    font-size: small;
    flex-shrink: 0;
}